@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-e-ukraine-medium: 'eUkraineMedium', sans-serif;
  --font-e-ukraine-regular: 'eUkraineRegular', sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::selection {
  background-color: #49B6FF;
  color: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-e-ukraine-regular);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
